In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('weather_data.csv')

In [3]:
df.head()

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
type(df['day'])

pandas.core.series.Series

In [6]:
df_dict=df.to_dict()
df_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [7]:
df_list=df['temp'].to_list()
df_list

[12, 14, 15, 14, 21, 22, 24]

In [8]:
sum=sum(df_list)
avg=sum/len(df_list)
avg

17.428571428571427

In [9]:
df['temp'].mean()

np.float64(17.428571428571427)

In [10]:
df['temp'].mode()

0    14
Name: temp, dtype: int64

In [11]:
df['temp'].max()

24

### Get data row

In [12]:
df[df.day=='Monday']

      day  temp condition
0  Monday    12     Sunny

In [13]:
monday=df[df['day']=='Monday']

In [14]:
df[df.temp==df['temp'].max()]

      day  temp condition
6  Sunday    24     Sunny

In [15]:
monday.condition

0    Sunny
Name: condition, dtype: object

In [16]:
monday.day

0    Monday
Name: day, dtype: object

In [17]:
monday_temper=monday.temp[0]
print(monday_temper)

12

In [18]:
monday_temper_inF=(monday_temper*9/5)+32
print(monday_temper_inF)

53.6

### Creating DataFrame from Scratch

In [21]:
dict_to_df={
'name':['sushant', 'rodan', 'utsav'],
'roll':[11,24,83],
'faculty':['BEI', 'BCE', 'BAR']
}

In [22]:
pd.DataFrame(dict_to_df)

      name  roll faculty
0  sushant    11     BEI
1    rodan    24     BCE
2    utsav    83     BAR